ErrorDocument 404 https://mateofaivre.fr/workshop-test/src/asset/client-side/404.php
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ <YourRelativePathToPHPFile>/404.php [L]