// colors
$primary-color: #FAA900;
$orange:#FA6900;
$green : #50C285;
$black : #14142B;
$grey: #979797;
// fonts
$primary-ff : 'Futura PTT', sans-serif;
//border 
$border:2px solid $primary-color;
$border-radius: 10px;